<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cnpeng.cnpeng_demos2017_01"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--声明权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--震动的权限。4.4及以上不需要声明权限，但低于4.4 时需要声明权限-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--闪光灯的权限-->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".a_01_WebView01.WebViewTestActivity01"></activity>

        <activity android:name=".a_02_ViewStubTest.ViewStubTestActivitiy"></activity>

        <activity android:name=".a_03_CreateViewWithoutXML.CreateViewWithoutXMLActivity"></activity>

        <activity android:name=".a_04_ImageBrowser_V1.ImageBrowserActivityV1"></activity>

        <activity android:name=".a_05_scrollBallWithFinger.ScrollBallActivity"></activity>

        <activity android:name=".a_06_tablelayoutTest.TableLayoutTestActivity"></activity>

        <activity android:name=".a_07_frameLayout_NoenLamp.NeonLampActivity"></activity>

        <activity android:name=".a_08_relativeLayout_plumBlossom.PlumBlossomActivity"></activity>

        <activity android:name=".a_09_gridLayout_caculater.CaculaterActivity"></activity>

        <activity android:name=".a_10_textView_01.TextView01Activtiy"></activity>

        <activity android:name=".a_11_9PatchTest.NinePatchActivity"></activity>

        <activity
            android:name=".a_12_RadioButtonAndCheckBox.RadioButtonAndCheckBoxActivity"></activity>

        <activity android:name=".a_13_ToogleButtonAndSwitch.TBAndSwitchActivity"></activity>

        <activity android:name=".a_14_TextClockAndAnalogClock.TcAndAcActivity"></activity>

        <activity android:name=".a_15_chronometer.ChronometerActivity"></activity>

        <activity android:name=".A_16_ImageBrowserV2.ImageBrowserV2Activtiy"></activity>

        <activity
            android:name=".a_17_imageButtonAndZoomButton.ImageButtonAndZoomButtonActivity"></activity>

        <activity android:name=".a_18_QuickContactBadge.QuickContactBadgeActivity"></activity>

        <activity android:name=".a_19_ListView01.ListView01Activity"></activity>

        <activity android:name=".a_20_showLvWithArrayAdapter.ArrayAdapterActivity"></activity>

        <activity android:name=".a_21_ListActivity.MyListActivity"></activity>
        <activity android:name=".a_23_autoCompleteTextView.AutoCompleteTextViewActivity"></activity>
        <activity android:name=".a_24_gridView.GridViewActivity"></activity>
        <activity android:name=".a_25_expandableListView.ExpandableListViewActivity"></activity>
        <activity android:name=".a_26_spinner.SpinnerActivity"
                  android:theme="@style/Base.Theme.AppCompat.Light"></activity>
        <activity android:name=".a_27_AdapterViewFlipper.AdapterViewFlipperActivity"></activity>
        <activity android:name=".a_28_stackView.StackViewActivity"></activity>
        <activity android:name=".a_29_progressBar.ProgressBarActivity"></activity>
        <activity android:name=".a_30_SeekBar.SeekBarActivtiy"></activity>
        <activity android:name=".a_31_RatingBar.RatingBarActivity"></activity>
        <activity android:name=".a_32_ViewSwitcher.ViewSwitcherActivity"></activity>
        <activity android:name=".a_32_ViewSwitcher.ViewSwitcherActivity2"></activity>
        <activity android:name=".a_33_ImageSwitcher.ImageSwitcherActivity"></activity>
        <activity android:name=".a_34_textSwitcher.TextSwitcherActvity"></activity>
        <activity android:name=".a_35_viewFlipper.ViewFlipperActviity"></activity>
        <activity android:name=".a_36_Toast.ImageToastActivity"></activity>
        <activity android:name=".a_37_calendarView.CalendarViewActivity"></activity>
        <activity
            android:name=".a_38_DatePiackerAndTimePicker.DatePickerAndTimerPickerActivity"></activity>
        <activity
            android:name=".a_39_DatePickerDialogAndTimerPickerDialg.DatePickerDialogAndTimerPickerDialogActvitiy"></activity>
        <activity android:name=".a_40_NumberPicker.NumberPickerActivity"></activity>
        <activity android:name=".a_41_SearchView.SearchViewActivtiy"></activity>
        <activity android:name=".a_42_tabHost.TabHostActivity"></activity>
        <activity android:name=".a_43_scrollView.ScrollViewActivity"></activity>
        <activity android:name=".a_44_notification.NotificationActivity"></activity>

        <activity
            android:name=".b_01_spannableString_ImageSpan.SpannableStringAndImageSpanActivity"></activity>
        <activity android:name=".b_02_DrawerLayoutAndImmersion.DrawerLayoutActivity"
                  android:theme="@style/AppTheme.NoActionBar"
        ></activity>
    </application>

</manifest>